cloudinary>=1.37.0
pygments
jinja2
click
click-log
requests
docstring-parser
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
